.anime-h1 {
  color: #2ECC71;
  font-size: 19pt;
  margin: 10px 0 10px 0;
}

.anime-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.anime-card-title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  background: linear-gradient(45deg, #292929 25%, transparent 25%, transparent 75%, #292929 75%), linear-gradient(45deg, #292929 25%, transparent 25%, transparent 75%, #292929 75%) 0.1875em 0.1875em, radial-gradient(at 50% 0, #F96C04, #090909);
  background-size: 0.375em 0.375em, 0.375em 0.375em, 100% 100%;
  border-radius: 20px 20px 0 0;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, .9) inset, 0 0 8px rgba(0, 0, 0, .7);

  .anime-card-h1 {
    color: #72B4D1;
    font-size: 18pt;
    font-weight: normal;
    text-shadow: black 1px 0, black 1px 1px, black 0 1px, black -1px 1px, black -1px 0, black -1px -1px, black 0 -1px, black 1px -1px, black 0 0 3px, black 0 0 3px, black 0 0 3px, black 0 0 3px, black 0 0 3px, black 0 0 3px, black 0 0 3px, black 0 0 3px;
  }
}

.anime-card {
  display: flex;
  flex-direction: column;
  background-color: black;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s;

  &:hover {
    transform: translateY(-5px);
  }

  .anime-card-image {
    width: 150px;
    height: 200px;
    object-fit: cover;
  }

  .anime-card-content {
    display: flex;
    padding: 15px;

    .anime-card-text {
      display: flex;
      flex-direction: column;
      margin: 0 10px;
      color: #ffffff;
    }
  }
}

@media (max-width: 1024px) {
  .anime-h1 {
    font-size: 22px;
    text-align: center;
  }
  .anime-card {
    flex-direction: column;
    align-items: center;

    .anime-card-content {
      font-size: 16px;
    }
  }
  .anime-card-title {
    .anime-card-h1 {
      font-size: 20px;
    }
  }
}

@media (max-width: 767px) {
  .anime-h1 {
    font-size: 15px;
    text-align: center;
  }
  .anime-card {
    .anime-card-content {
      flex-direction: column;
      font-size: 12px;
    }

    .anime-card-image {
      width: 125px;
      height: 175px;
    }
  }
  .anime-card-title {
    .anime-card-h1 {
      font-size: 14px;
      text-align: center;
    }
  }
}
