.anime-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.anime-card {
  display: flex;
  background-color: black;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s;

  &:hover {
    transform: translateY(-5px);
  }

  .anime-card-image {
    width: 150px;
    height: 200px;
    object-fit: cover;
  }

  .anime-card-content {
    padding: 20px;
    flex: 1;

    h3 {
      margin-top: 0;
      color: #ffffff;
    }

    p {
      margin: 5px 0;
      color: #ffffff;
    }
  }
}
