@import './reset.css';

*{
  margin: 0;
}

.wrapper {
  max-width: 1500px;
  min-height: 1000px;
  align-items: start;
  margin: auto;
  background-color: #2a2a29;
}

body {
  background-color: #555555;
  cursor: context-menu;
  display: block;
  margin: 8px;
}
