.sidebar-right {
  width: 250px;
  background-color: black;
  padding: 15px;
  color: white;

  .auth {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .auth-button {
      background-color: #1abc9c;
      color: white;
      border: none;
      padding: 10px;
      cursor: pointer;
      border-radius: 5px;

      &:hover {
        background-color: #16a085;
      }
    }
  }
}